nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
background-color: black;
height: 10vh;
padding: 1em;
font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: 300;



}

a{
    color: #A07F5D;
    text-decoration: none;
}

.nav-link{
    color: #A07F5D;
    text-decoration: none;
}


ul{
    display: flex;
    gap: 1em;
list-style-type: none;

}

*{
    padding: 0;
    margin: 0;
}
.hero{
    background-color: #A07F5D;
    display: flex;
    justify-content: center;
    align-items: center;
align-items: center; 
    flex-direction: column;
gap: 1em;
height: 90vh;
text-align: center;

}
.contact{
background-color: #A07F5D;
border: #A07F5D 1px solid;
color: black;
text-decoration: none;

padding: 1rem;
}
.contact:hover{
background-color: black;
color: #A07F5D;
}
.buttons{
    padding-top: 2em;
}
.button-a{
    background-color: white;
    border:  #A07F5D 1px solid;
    padding: 1rem;
    margin-top: 1em;
    font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
}
.button-a:hover{
    background-color: #A07F5D;
    color: black;

}


.hero h1{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}







@media screen and (max-width: 500px){

    body {
        background-color: lightgreen;
      }
      h1{
        font-size: 3em;
    }
    ul{
        display: none;
    }
}


    
